:root{
	--progressBarWidth:0%;
	--customNavBarColor :darkred;
	--settingsDisplayStatus :none;
}

.navbar{
/*	font-family: Helvetica;
*/	border-radius: 10px;
	color: white;
	background-color: var(--customNavBarColor);

}

.progress{
	width: 75%;
}


.pageBody{
	padding: 10px;
	display: flex;
	flex-direction: column;
	border-color: black;
	font-family: garamond;
}

.checkInMonitor{
	display: flex;
	flex-direction: column;
	align-items: center;

	color: black;
	border-radius: 10px;
}

.guestCountMonitorRow{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.guestCountMonitorCell{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}



/*#memberNameInput{
	width: 90%;
}*/

.hiddenItem{
	display: none;
}

.flexDisplay{
	display: flex;
	flex-direction: row;
}

.uploadCSVDiv{
	align-content: center;
}

.attendeesSection{
	display: flex;
	flex-direction: column;	
	}   

.guestNameInput{
	width: 100%;
	text-align: center;
	
}

.schoolNameLabel{
	font-size: 30px;
}
.schoolStudentsLabel{
	font-size: 30px;
	text-align: center;
}

#guestTable{
	display: grid;
}


.gridRow{
 	display: flex;
 	justify-content: space-between;
 	width: 100%;
}

.checkedInRow{
	background-color: #90EE90;
}

.gridCell{
	width: 100%;
	border: 1px solid grey;

	font-size: 18px;
	font-weight: normal;
	font-family: arial;
	text-align: center;
/*	width: var(--cell);
	height: var(--cell);
*/
	/*Max widths and heights*/
/*	max-width: var(--indexCellSize);
	max-height: var(--indexCellSize);*/

	/*The following code centers the text horizontally and vertically*/
	vertical-align: middle;
/*	line-height: var(--cell);
*/}

.checkBoxCell{
	max-width: 40px;	
}

.settingsSection{
	display: var(--settingsDisplayStatus);
	flex-direction: column;
}

.selfCheckInSection{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.selfCheckInInput{
  height:70px
  font-size: 24px;
}



